/* Add custom styles for the sidebar if needed */

/* Ensuring the sidebar on mobile screens is at the front */
#mobile-sidebar {
    z-index: 10;
    overflow-y: auto; /* Make it scrollable if needed */
  }
  
  /* Add custom styling to the sidebar links */
  .sidebar-link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar-link:hover {
    background-color: #4b5563; /* Dark gray for hover effect */
  }
  
  /* Active Link Styling */
  .active-link {
    background-color: #1f2937; /* Dark blue-gray for active link */
  }

  .spotify{
    font-size: 22px !important;
  }
  