
<!-- Hero Section -->
<div class="relative w-full h-[500px] overflow-hidden">
  <img
    src="https://images.unsplash.com/photo-1473976345543-9ffc928e648d?q=80&w=1859&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fA%3D%3D"
    alt="Hero Image"
    class="w-full h-full object-cover">
  <button
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-black text-white  text-lg font-bold rounded-lg opacity-80 hover:opacity-100 py-[13px] px-[19px]">
    SHOP NOW
  </button>
</div>



<!-- Other Sections -->
<app-about></app-about>
<app-contactus></app-contactus>
<hr class="border-t-2 border-gray-200 w-full mt-4">

