


 <app-customer-header></app-customer-header>

<div class="flex flex-col md:flex-row">
  

  <div class="w-full flex-1 p-5 bg-gray-50 min-h-[70vh] overflow-x-hidden">
    <router-outlet></router-outlet>
  </div>
</div>

<app-customer-footer></app-customer-footer>

























<!-- Footer Component -->
<!-- <aside class="sidebar p-5">
  <ul class="sidebar-nav space-y-4">
    <li>
      <a routerLink="/customer/customer-dashboard" routerLinkActive="active" class="block no-underline whitespace-nowrap text-gray-800 hover:text-blue-600">
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/customer/settings" routerLinkActive="active" class="block no-underline whitespace-nowrap text-gray-800 hover:text-blue-600">
        Profile Settings
      </a>
    </li>
    <li>
      <a routerLink="/customer/chats" routerLinkActive="active" class="block no-underline whitespace-nowrap text-gray-800 hover:text-blue-600">
        Chats
      </a>
    </li>
  </ul>
</aside> -->


