/* .container {
  max-width: 1200px;
  margin: 0 auto;
}

table {
  width: 100%;
}

table th, table td {
  padding: 12px;
}

thead {
  background-color: #f8f9fa;
}

thead th {
  text-align: center;
  font-weight: bold;
}

tbody td {
  text-align: center;
} */


/* canvas {
  background-color: #f4f4f4;
  border-radius: 10px;
} */

