.chart-container {
  width: 80%;
  margin: 20px auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

jqx-chart {
  max-width: 100%;
  height: auto;
}

.chart-container h3 {
  text-align: center;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #333;
}
